.stuff {
    display:flex;
    justify-content:center;
    flex-flow:column;
    align-items: center;
}

.card {
    font-family: 'Press Start 2P';
    background-color: #592929;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    margin: 1rem 1rem;
    max-width: 40rem;
    color: var(--atomic-tangerine);
}
.card > h2 {
    text-justify: center;
    display:flex;
    flex-flow:row;
    font-family: 'Press Start 2P';
    font-size: large;
}
.card > div {
    display: flex;
    flex-flow:row;
    justify-content: space-evenly;
}
.save-form {
    color: white;
    padding: 0 1rem;
  }
  
  .control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }