.stuff {
    display:flex;
    justify-content:center;
    flex-flow:column;
    align-items: center;
}

.card {
    font-family: 'Press Start 2P';
    background-color: #592929;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    margin: 1rem 1rem;
    max-width: 40rem;
    color: var(--atomic-tangerine);
}
.card > h2 {
    text-justify: center;
    display:flex;
    flex-flow:row;
    font-family: 'Press Start 2P';
    font-size: large;
}
.card > div {
    display: flex;
    flex-flow:row;
    justify-content: space-evenly;
}